.pagination {
  justify-content: center;
  li {
    a {
      border: 0;
    }
    .page-link {
      border: 0;
      border-radius: 0;
      padding: 0 5px;
      min-width: 30px;
      height: 30px;
      line-height: 28px;
      margin-left: 0;
      margin-right: 10px;
      text-align: center;
      color: #b9b9b9;
      background-color: transparent;

      &.page-arrow {
        border: 1px solid #b8b8b8;
        border-radius: 0;
        background-color: #fff;
        color: #666;
      }
    }
    &.active {
      .page-link {
        border: 2px solid #00959c;
        line-height: 26px;
        color: #222;
        font-weight: normal;
        background: #FFFFFF;
      }
    }
  }
}
